* {
  box-sizing: border-box;
}
 

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  background-image: url("bread.jpg");
  font-family: 'Roboto', sans-serif;
}

.shopping-cart {
  width: 500px;
  height: auto;
  margin: 80px auto;
  background: #FFFFFF;
  border-radius: 0px;
}

.title {
  height: 50px;
  text-align:center;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #990000;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
 
.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}

	
.image {
  margin-right: 50px;
}
 
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}
 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}
 
button[class*=btn] {
  width: 30px;
  height: 30px;
  background-color: #E1E8EE;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.plus-btn img {
  margin-top: 2px;
  padding-right: 30px;
}
 
button:focus,
input:focus {
  outline:0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484D;
  font-weight: 300;
}


.submit{
	padding-top:auto;
	padding-bottom:20px;
	padding-left: 200px;

}

.ordered-cart {
  width: 500px;
  height: auto;
  margin: 80px auto;
  background: #FFFFFF;
  border-radius: 50px;
}

.ordered-table
{
	
	padding-top: 20px;
	padding-left: 55px;
	padding-right: 55px;
}

img {
    border-radius: 10px 10px 0px 0px;
}

h4	
{
	 font-family: 'Roboto', sans-serif;
	 color: #FFFFFF;
}

.navbar-header .navbar-brand:hover,
.navbar-header .navbar-brand:focus,
.navbar-collapse .navbar-nav > li > a:hover,
.navbar-collapse .navbar-nav > li > a:focus {
    color: #990000;
	font-family: 'Roboto', sans-serif;

}



.navbar-header .navbar-brand,
.navbar-header .navbar-brand,
.navbar-collapse .navbar-nav,
.navbar-collapse .navbar-nav{
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
} 

.form-group, footer{
font-family: 'Roboto', sans-serif;
}

legend{
font-family: 'Roboto', sans-serif;
font-weight: bold;
}

.btn {
    background-color: #990000; 
    border: none;
    color: white;
	padding: 7px;
    text-align: center;
    display: inline-block;
    font-size: 15 px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: bold;
}

.btn:hover {
    background-color: #990000;
    color: white;
}


input[type=button] 
{
    background-color: #990000;
    border: none;
    color: white;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: bold;
    padding: 8px 16px;
    text-decoration: none;
	width: 50%
    cursor: pointer;
}

.deletebtn
{
	width: 60%;
	text-align: center;
	padding: 2px 2px;
	margin-left: 0 px;
	display: inline-block;
	}
	td 
{
    text-align:center; 
    vertical-align:middle;
}

table{
	margin-left: 55px;
}

table,td  {
	border: 2px solid grey;
	border-collapse: collapse;
	padding: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: bold;
}

th  {
	border: 2px solid grey;
	border-collapse: collapse;
	padding: 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: bold;
}

table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}


@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .ordered-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  
   .image img {
    width: 25%;
	height:90%;
	
  }
  
  .submit{
	padding-top:auto;
	padding-bottom:20px;
	padding-left: 65px;

}
  
  table{
	margin-left:10px;
	margin-right:10px;
}

  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

#test{
position: relative;
    top: 620px;
	color:white;
}
#test1{
  background-color: #990000; 
    border: none;
    color: white;
	padding: 7px;
    text-align: center;
    display: inline-block;
    font-size: 15 px;
	 position: relative;
    top: 610px;
}


@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
